@*
    =============================================================================
    Home.razor - Page d'accueil de l'application
    =============================================================================
*@

@* 
    Directive de routage : définit l'URL de cette page.
    "/" = page d'accueil (racine du site)
*@
@page "/"

@* Contenu de la page - À personnaliser selon les besoins *@
<h1>Bienvenue sur Managely</h1>

<p>Application de gestion pour le Centre Esthétique Parenthèse Dorée.</p>
